* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.img-fluid {
    width: 100%;
}

ul,
ol {
    list-style: none
}

.table-container {
    overflow-x: auto;
    max-width: 100%;
}

/*Button*/
.btn-custom-primary {
    background-color: #4d5da3;
    border: 3px solid #4d5da3;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 20px;
}

.btn-custom-primary:hover {
    background-color: #FFF;
    color: #4d5da3;
}

/*General*/
.form-group>label {
    font-size: 1.1rem;
    color: #2e1d5b;
}

.form-container {
    background-color: #ffffff;
    padding-top: 20px;
}

form .form-group:last-child {
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 30px;
}

/*Main*/
main {
    padding-top: 126.5px;
    padding-bottom: 20px;
    background-color: #fff;
    min-height: 100vh;
}

main h2 {
    color: #2e1d5b;
    font-weight: normal;
}

/*Navbar*/
.navbar {
    border-bottom: 5px solid #95a5a6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
}

.navbar__main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__main-nav__left,
.navbar__main-nav__right {
    display: flex;
    align-items: center;
}

.navbar__main-nav__left .navbar-brand a img {
    width: 300px;
    margin-left: 10px;
}

.sidebar-toggle {
    cursor: pointer;
}

.sidebar-toggle span {
    font-size: 3rem;
}

.main-nav-right__list {
    padding-top: 20px;
    margin-right: 20px;
}

.main-nav-right__list li span {
    color: #000;
}

.main-nav-right__list li a:hover span {
    color: #80bef5;
}

.main-nav-left__user-actions {
    position: relative;
}

.user-actions-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f1f0f0;
    padding-bottom: 0;
}

.user-actions-container:hover {
    background-color: #dbdada;
}

.user-actions-container p {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.user-actions-dropdown {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    padding-bottom: 0;
    pointer-events: none;
    opacity: 0;
}

.user-actions-dropdown.active {
    opacity: 1;
    pointer-events: all;
}

.user-actions-dropdown ul li a {
    display: block;
    padding: 10px;
    width: 100%;
    color: #000;
}

.user-actions-dropdown ul li a:hover {
    background-color: #ddeaf5;
}

/*Sidebar*/
.side-bar {
    position: fixed;
    top: 106.5px;
    left: -1000px;
    width: 20%;
    height: 100vh;
    z-index: 3;
    background-color: #fff;
    transition: all 0.3s ease;
}

.side-bar.active {
    left: 0;
}

.side-bar__item a {
    display: flex;
    padding: 10px 15px;
    padding-bottom: 5px;
}

.side-bar__item a:hover {
    background-color: #ddeaf5;
}

.side-bar-item__icon span {
    font-size: 2rem;
    color: #2e1d5b;
}

.side-bar-item__text {
    padding-left: 10px;
    font-size: 1.2rem;
    color: #2e1d5b;
}

/*Chat Page*/
.chat-page {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
}

.chat_side-bar {
    flex: 20%;
    max-width: 20%;
    background-color: #ffffff;
}

.chat-side-bar__search-container {
    padding: 10px;
}

.chat-side-bar__list-container {
    max-height: 450px;
    overflow-y: auto;
}

.chat__room {
    flex: 80%;
    max-width: 80%;
}

.chat-room-item {
    padding: 10px 20px;
    padding-bottom: 2px;
    cursor: pointer;
}

.chat-room-item:hover {
    background-color: #ddeaf5;
}

.chat-room-item.active {
    background-color: #c0def8;
    font-weight: bold;
}

.chat-box {
    width: 100%;
    min-height: 100vh;
}

.react-chat-container {
    width: 100% !important;
    height: 100vh !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.react-chat-row {
    height: 100vh !important;
    padding: 0 !important;
}

.chat-page.loading {
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .chat_side-bar {
        flex: 30%;
        max-width: 30%;
    }
    
    .chat__room {
        flex: 70%;
        max-width: 70%;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .chat_side-bar {
        flex: 100%;
        max-width: 100%;
    }
    
    .chat-side-bar__list-container {
        max-height: 200px;
    }
    
    .chat__room {
        flex: 100%;
        max-width: 100%;
    }

    .chat-box {
        height: 50vh !important;
        min-height: 50vh !important;
    }
    
    .react-chat-container {
        height: 50vh !important;
    }

    .react-chat-row {
        height: 50vh !important;
        padding: 0 !important;
    }
}

/*Table*/
.table-container {
    margin-top: 20px;
}

.table-container span.material-icons {
    padding-top: 5px;
}

/*Login*/
.login-page {
    background-image: url(https://i.imgur.com/Qjd548x.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.login-form-container form {
    max-width: 500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.login-form-container__logo {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

/*Contributon Details*/
.details-page__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.details-page-container__review {
    flex: 70%;
    max-width: 70%;
    max-height: 100vh;
}

.details-page-container__info {
    flex: 25%;
    max-width: 25%;
    position: -webkit-sticky;
    position: sticky;
    top: 300px;
    display: block;
}

.details-page-container__info .info-item {
    margin-bottom: 20px;
}

.chart-item {
    margin-bottom: 30px;
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    .side-bar {
        max-width: 30%;
        width: 100%;
    }
} 

/*Mobile*/
@media (min-width: 320px) and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }

    .side-bar {
        max-width: 100%;
        width: 100%;
        top: 75px;
    }

    .details-page-container__review {
        flex: 100%;
        max-width: 100%;
    }
    
    .details-page-container__info {
        flex: 100%;
        max-width: 100%;
    }
} 

.add-contribution-terms ul {
    list-style-type: disc;
    margin-left: 20px;
}