* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-fluid {
    width: 100%;
}

ul,
ol {
    list-style: none
}

/*Button*/
.btn-custom-primary {}

/*General*/
.form-group>label {
    font-size: 1.1rem;
    color: #2e1d5b;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
}

/*Main*/
main {
    padding-top: 126.5px;
    padding-bottom: 20px;
    background-color: #fff;
    min-height: 100vh;
}

main h2 {
    color: #2e1d5b;
    font-weight: normal;
}

/*Navbar*/
.navbar {
    border-bottom: 5px solid #95a5a6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    background-color: #ffffff;
}

.navbar__main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__main-nav__left,
.navbar__main-nav__right {
    display: flex;
    align-items: center;
}

.navbar__main-nav__left .navbar-brand a img {
    width: 300px;
    margin-left: 10px;
}

.sidebar-toggle {
    cursor: pointer;
}

.sidebar-toggle i {
    font-size: 2rem;
}

.main-nav-right__list {
    padding-top: 20px;
    margin-right: 20px;
}

.main-nav-left__user-actions {
    position: relative;
}

.user-actions-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    background-color: #ededed;
    padding-bottom: 0;
}

.user-actions-container p {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.user-actions-dropdown {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 0;
    pointer-events: none;
    opacity: 0;
}

.user-actions-dropdown.active {
    opacity: 1;
    pointer-events: all;
}

.user-actions-dropdown ul li a {
    display: block;
    padding: 10px;
    width: 100%;
}

.user-actions-dropdown ul li a:hover {
    background-color: #ddeaf5;
}

/*Sidebar*/
.side-bar {
    position: fixed;
    top: 106.5px;
    left: -1000px;
    width: 20%;
    height: 100vh;
    z-index: 3;
    background-color: #fff;
    transition: all 0.3s ease;
}

.side-bar.active {
    left: 0;
}

.side-bar__item a {
    display: flex;
    padding: 10px 15px;
    padding-bottom: 5px;
}

.side-bar__item a:hover {
    background-color: #ddeaf5;
}

.side-bar-item__icon span {
    font-size: 2rem;
    color: #2e1d5b;
}

.side-bar-item__text {
    padding-left: 10px;
    font-size: 1.2rem;
    color: #2e1d5b;
}

/*Chat Page*/
.chat-page {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
}

.chat_side-bar {
    flex: 20%;
    max-width: 20%;
    background-color: #ffffff;
}

.chat-side-bar__search-container {
    padding: 10px;
}

.chat__room {
    flex: 80%;
    max-width: 80%;
}

.chat-room-item {
    padding: 10px 20px;
    padding-bottom: 2px;
    cursor: pointer;
}

.chat-room-item:hover {
    background-color: #ddeaf5;
}

.chat-room-item.active {
    background-color: #c0def8;
    font-weight: bold;
}

.chat-box {
    width: 100%;
    min-height: 100vh;
}

.react-chat-container {
    width: 100% !important;
    height: 100vh !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.react-chat-row {
    height: 100vh !important;
    padding: 0 !important;
}

/*Table*/
.table-container {
    margin-top: 20px;
}